

/*  Fonts   */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:400,700|Roboto:400,400i,700,700i&display=swap');


body,
html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background: url("../images/bg.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}
/* FOR NAV ITEMS ARRANGEMENT */
.Oswald {
	font-family: 'Oswald', sans-serif;
  word-spacing: .2px;
	font-size: 20px;
  font-weight: 700;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "'Oswald', sans-serif;", cursive;
}
a {
  text-decoration: none;
}
.logo {
  width: 3.5rem;
  margin: 0;
  padding: 0;
}
.logoText{
 font-family: "Oswald","sans-serif";
}
.bg-color {
  background: #fcc133;
}
.nav-link,
.navbar-toggler {
  color: #292930;
  font-weight: 700;
  margin: 2px;
}
.nav-link:hover, .active {
  background: #292930;
  color:#fcc133;
  text-shadow: none;
}
.swiper-container {
  width: 100%;
  padding-left: 5px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 360px;
  margin-top: 10px;
}

.color-rhd {
  width: 100%;
  height: 65px;
  background: #fcc133;
  margin: 20px 0;
}

.hot-deals {
  color: #e12b38;
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  padding-left: 20px;
  padding-top: 5px;
  font-weight: bold;
}
.hd-png {
	height: 80px;
	padding: 0 0 17px 0;
}


.hot-product {
  overflow: hidden;
}
.background {
	background: white;
	text-align: center;
	border-radius: 5%;
	box-shadow: #292930 0px 6px 5px;
	width: 158px;
	height: 370px;
	margin: 0 15px 30px 0;
}
.single-product {
	width: 126px;
  margin: 5%;
  height: 166px;
  border-radius: 7%;
  text-align: center;
}
.hot-product .seal {
  position: absolute;
  top: 6%;
  transform: rotate(330deg);
  font-size: 0.6rem;
  left: 12%;
  background: #fcc133;
  padding-left: 2%;
  padding-right: 2%;
  color: #292930;
  font-weight: bolder;
  letter-spacing: 1px;
}
.product-info {
	margin-bottom: 40%;
	text-align: center;
	padding: 7% 0;
	background: #eeeeee;
  border-bottom-left-radius: 20%;
	width: 158px;
	height: 187px;
}
.shirt-name {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
  padding: 5px;
}
.col-6 a{
  color: #292930;
  text-decoration: none;
}

.strike {
  text-decoration: line-through;
  color: #fcc133;
}
.price {
  display: block;
  color: white;
  background: #292930;
  display: block;
  font-size: 25px;
  font-weight: 700;
}
.btn:hover{
  color: #e12b38;
}

.sidesinglepro{
  width: 100%;
  background: #292930;
  border:5px solid #fcc133;
  padding: 5px;
  text-align: center;
}
.sidesinglepro .sideImg {
  width: 100%;
}
.sidesinglepro .sideproductinfo {
	font-family: "Oswald","Sans-serif";
	text-align: center;
	margin: 25px 0;
	text-transform: capitalize;
	color: #e12b38;
	font-weight: bold;
	text-shadow: #fcc133 2px 1px 1px;
	letter-spacing: 1.7px;
}
.sidesinglepro a{
  text-decoration: none;
}
/* SPECIAL DEALS */

.color-rsd {
  width: 100%;
  height: 65px;
  background: #3eb650;
  margin: 20px 0;
}
.color-rsd .sd-png {
	width: 7%;
	position: relative;
	height: 60px;
	top: -9px;
}

.hot-product .green-seal {
  position: absolute;
  top: 6%;
  transform: rotate(330deg);
  font-size: 0.6rem;
  left: 12%;
  background: #e12b38;
  padding-left: 2%;
  padding-right: 2%;
  color: #fff;
  font-weight: bolder;
  letter-spacing: 1px;
}

.fb-page{
  border: 5px double black;
  padding: 5px;
  box-shadow: #292930 10px 1px 4px;
}

.footer-bg {
  background: #292930;
  width: 100%;
  height: 70px;
  color: gray;
}
.bottomPad{
  padding-top: 15px;
}
.design-by{
  font-size: 15px;
}
.design-by .designer{
  color: gray;
}
.design-by a:hover {
  text-decoration: none;
}
.social {
  text-align: end;
}
.fab {
  color: gray;
  padding: 0 1.3%;
  font-size: 1.3rem;
  transition: all 1s;
}
.fab:hover {
  background: #fcc133;
  padding: 0.7rem;
  border-radius: 50%;
  color: #292930;
  transform: rotate(360deg);
}
@media (max-width: 768px) {
  .shirt-name{
    font-size: 15px;
  }
  .swiper-container {
    width: 100%;
  }
  .swiper-slide {
    width: 100%;
    height: 350px;
  }
  .swiper-slide .slider-text {
    font-size: 1rem;
  }
  .hot-deals {
    font-size: 1.4rem;
    padding: 0;
  }
  .eid-product .seal {
    top: 4%;
  }
  .background{
    width: 145px;
height: 359px;
  }
  .product-info{
    width: 145px;
    height: 190px;
  }
  .hot-product .background .product-info{
    width: 145px;
height: 179px;
  }
  .footer-bg {
    font-size: 0.7rem;
    padding: 5px;
    height: 50px;
  }
  .social {
    padding: 2%;
  }
  .fab {
    padding: 0 2%;
    font-size: 0.5rem;
  }
  .fab:hover {
    padding: 0.1rem;
  }
}





/* ERROR PAGE */


.error{
  margin: 200px 250px;
  min-height: 100px;
  font-family: "Oswald","Roboto";
  font-size: 70px;
  color: #fcc133;
  text-shadow: #292930 2px 2px 3px;
  font-weight: bold;
}


/* PRODUCT PAGE INFO */

.center{
  text-align: center;
  margin: 50px 20px 20px 20px;
}
.title{
  margin: 60px;
  font-family: "Oswald","Roboto";
  font-size: 40px;
  background: #292930;
  color: #fcc133;
  padding: 10px;
}
.singlePageImg{
 width:450px;
 transition: width 2s;
 margin-bottom: 30px;
}
.singlePageImg:hover{
  width: 120%;
  z-index: 5;
}
.proID{
  text-align: center;
  width: 200px;
  background:#fcc133;
  margin: 0 auto;
}
.proDetails{
  font-family: "Oswald","Roboto";
  padding: 15px;
}

.proBack{
  background: #dddddd;
  margin: 0 auto;
  padding: 30px;
}
.howto {
  background: #292930;
  margin: 0 auto;
  color: #dddddd;
  font-family: "Oswald","Roboto";
}
.howto .howtitle{
  padding: 5px;
  font-family: "Oswald","Roboto";
  border-bottom: 4px solid gray;
}
.howto .order{
  text-align: center;
  padding: 30px;
  
}

.similar-pro{
  font-family: "Oswald","Roboto";
  font-size: 27px;
  padding: 10px;
  margin-left: 140px;
}






@media only screen and (max-width: 600px) {
  .swiper-slide{
    height: 100px;
  }
  .color-rhd {
    margin: 10px 0;
    padding: 2px 0;
  }
  .color-rhd .hd-png{
    height: 77px;
  }
  .logo{
    width: 2.5rem;
  }
  .logoText{
    font-size: 15px;
  }
  .color-rsd .sd-png {
    width: 22%;
    top: 2px;
  }
  .similar-pro{
    margin-left: 0;
  }
  .design-by{
    font-size: 8px;
  }
  .socialParent{
    font-size: 4px;
  }
.copyright{
  font-size: 7px;
}
}